
td {
    vertical-align: middle !important;
}

.form-control {
    border-radius: 0px;
}

.table > thead > tr > th {
    vertical-align: middle;
}

.for-empty-table {
    text-align: center;
    color: #FF4500;
}

.ad {
    
}

.table-header {
    font:14px Arial, Helvetica, sans-serif;
    font-weight:bold;
    
    background-color:#4581AE;
    color:#E5FFFF;
}

.table-header-action {
    font:14px Arial, Helvetica, sans-serif;
    font-weight:bold;
    
    background-color:#4581AE;
    color:#E5FFFF;
    
    text-align: center;
}

.button, .clear-button {
	text-decoration:none; 
	text-align:center; 
	padding:12px 30px; 
	border:solid 1px #004F72;  
	font:14px Arial, Helvetica, sans-serif; 
	font-weight:bold; 
	color:#E5FFFF; 
	background-color:#4581AE;
    float:right;
}

.button:hover, .clear-button:hover {
    cursor: pointer;
    display: inline-block;

    text-decoration: none;
    
    color: #fff;
    background-color: #699bc4;
}

.btn-del {
    cursor: pointer;
    display: inline-block;
	
	color: #fff;
	background-color: #CD5C5C;
    
    border-radius: 0px;
    padding: 4px 10px;

    text-align: center;
    vertical-align: middle;
}

.btn-del:hover {
	text-decoration: none;
	
	color: #fff;
	background-color: #FA8072;
}

.remove-button {
    text-align: center;
}

.btn-del-all {
    font: 14px Arial, Helvetica, sans-serif;
    font-weight:bold;

    color: #fff;
    background-color: #CD5C5C;

    cursor: pointer;
    display: inline-block;
    
    border-radius: 0px;
    padding: 12px 30px;

    text-align: center;
    vertical-align: middle;
}

.btn-del-all:hover {
    text-decoration: none;
    
    color: #fff;
    background-color: #FA8072;
}